<div class='stapel'>
  <div class="topbar">
    <span id="close" class="back">&larr;</span>
    <h3 id="name"></h3>
  </div>

  <%= content_tag :div, class: 'stapel-options', data: {id: @id, options: @options} do %>
  <% end %>

  <ul id="tp-grid" class="tp-grid">
    <% @items.each do |item| %>
      <li data-pile="<%= item[:tag] %>">
        <a href="<%= item[:link] %>">
          <span class="tp-info">
            <span>
              <%= item[:title] %>
            </span>
          </span>
          <img src="<%= asset_path(item[:image]) %>">
        </a>
      </li>
    <% end %>
  </ul>
</div>
